---
import H1 from "../../components/h1.astro";
import { formatDate } from "../../lib/utils";
import InfoLayout from "../../layouts/InfoLayout.astro";

// Fetch all articles (without filtering by category)
// const articles = await Astro.glob("../../content/articles/*.md");
const articles = Object.values(import.meta.glob('../../content/articles/*.md', {eager: true}))
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <H1> Blog </H1>

    <ul class="mt-4 space-y-6">
      {
        articles.map((article) => (
          <li>
            <a
              class="space-y-1 group"
              href={`/blog/${article.frontmatter.slug}`}
            >
              <h2 class="text-xl xl:text-2xl text-zinc-300 group-hover:text-white text-balance font-medium underline group-hover:underline-offset-2 decoration-transparent group-hover:decoration-zinc-500">
                {article.frontmatter.title}
              </h2>
              <p class="text-base text-zinc-400">
                {article.frontmatter.snippet}
                
              </p>
              <p class="text-sm text-zinc-500">
                {formatDate(article.frontmatter.date)} &middot;{" "}
                {article.frontmatter.author}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</InfoLayout>
